*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #0a2a43;
    min-height: 1500px;
}
section{
    position:relative;
    width:100%;
    height:100vh;
    /* 100vh 和 100% 区别在于 ，如果里面没有元素，100vh 还是会占据这个高度，而100%此时的高度就是0  因为img脱离标准流 position 为 绝对定位 */

    overflow:hidden;
    /* 溢出隐藏 */
    display:flex;
    /* 弹性布局 在不同方向排列元素 重新排列元素的显示顺序  更改元素的对齐方式 动态地将元素融入容器 */
    justify-content:center;
    /* 水平居中，弹性项目居中紧挨着填充 */
    align-items: center;
    /* 垂直居中，弹性项目居中紧挨着填充 */

}
 
section:before{
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top,#0a2a43,transparent);
    /* linear-gradient 是渐变函数 transparent 透明 */
    z-index:10000;
}
 section:after{
    content:'';
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height:100%;
    background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
    /* 颜色混合 */

 } 


section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*  对图片进行剪切，保持原有尺寸比例*/

    pointer-events:none;
    /* 是否对鼠标指针事件作出反应  none 就是鼠标点上去也没用，auto 就是有用 */

}
#text{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}
#road{
    z-index: 2;
}