#body
{
	background-color:#d0e44f;
}
#p3
{
	border: 34px;
	color: red;
}

#h1
{
	color: orange;
	text-align: center;
}

#p1
{
	font-family: "verdana";
	color: purple;
	font-size: 20px;
	margin-left: 30px;
}